attendanceInfoRange: attendanceInfo!A2:C
  attendanceInfoIDRange: attendanceInfo!A2:E
  attendanceInfoByName: attendanceInfo!A2:E
  attendanceList: attendanceList!A2:E
  attendanceListByEmail: attendanceList!A2:J
  attendanceListRange: attendanceList!A2:C
  idAttandanceInfoRange: A3:A
  presentRange: C
  absentRange: D
  AttandanceInfoSheetName: attendanceInfo!
  attendanceListDefaultRange: attendanceInfo!J2:j
  attendanceInfoMarkAs:  E
/.gradle/
/build/
