<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Absence Notification</title>
</head>
<body>
    <h2>Absence Notification</h2>
  
    <p>Dear <span th:text="${name}">,</span></p>
    
    <p>This is to inform you that you were absent from training today, on <span th:text="${date}">.</span></p>
    
    <p>The reason for your absence is: <span th:text="${reason}">.</span></p>
    
    <p>If there is a valid reason for your absence, please make sure to inform us as soon as possible.</p>
    
    <p>It's important to attend all training sessions to make the most out of the learning opportunity.</p>
    
    <p>If you have any questions or concerns, feel free to reach out to us.</p>
    
    <p>Thanks and Regards,</p>
    <p>HR Team</p>
    <p>M.No: 9845958884</p>
    <p>Find us on Google Maps: <a href="https://goo.gl/maps/LSgLsZ6oqRu">Google Maps</a></p>
    <p><a href="https://www.x-workz.in"><img src="https://www.x-workz.in/static/media/Logo.cf195593dc1b3f921369.png" alt="X-Workz Logo" width="100"></a></p>

    <p>080-48669257/9845958884</p>
    <p>RAJAJINAGAR||BTM</p>
</body>
</html>
