<!DOCTYPE html>
<html>
<head>
<title>Java Full Stack Course Content</title>
</head>
<body>
	<p>Dear ${recipientName},</p>
	<p>Please find the attached Java Full Stack Course Content for your
		reference.</p>
	<p>The attached file contains the overview of the course. Apart
		from the mentioned course, you will be learning a total of 15
		Technologies and Placement activities, technical aptitude, Resume
		Building, Mocks, Presentation, etc.</p>

	<p>
		Course Content: <a
			href="https://github.com/X-workzDev01/Course_Content_PDF/blob/main/Java%20Enterprise%20course%20content.pdf">X-Workz</a>
	</p>
	<p>For any queries, feel free to reach me at 9886971483/9886971480.</p>
	<p>Follow us on Facebook and Instagram for more updates regarding
		new batches and placement details:</p>

	<p>
		Web site:<a href=" http://www.x-workz.in"></a>X-workz Web site
	</p>

	<p>
		Google reviews Link:<a href=" https://tinyurl.com/29kw6j2b">Google
			Review Link</a>
	</p>


	<p>
		Linked In:<a href="https://www.linkedin.com/in/x-workz-odc/">Linked
			In</a>
	</p>
	<p>
		Facebook:<a href="https://www.facebook.com/xworkzdevelopmentcenter">Facebook</a>
	</p>

	<p>
		Instagram Rajajinagar: <a
			href="https://instagram.com/xworkzraj?igshid=MmU2YjMzNjRlOQ==">Instagram
			Rajajinagar</a>
	</p>


	<p>
		Instagram BTM:<a
			href="https://instagram.com/xworkzbtm?igshid=MmU2YjMzNjRlOQ==">Instagram
			BTM</a>
	</p>


	<p>
		Whatsapp:<a href="https://wa.me/message/MH225U2AMXT6H1">What'sApp</a>
	</p>
	<p>
		Whatsapp channel:<a
			href="https://whatsapp.com/channel/0029Va93NnOJ3jv2nJKE1b44">What'sApp
			Channel</a>
	</p>


	<p>Thanks and Regards,</p>
	<p>HR Team</p>
	<p>M.No: 9845958884</p>
	<p>
		Find us on Google Maps: <a href="https://goo.gl/maps/LSgLsZ6oqRu">Google
			Maps</a>
	</p>
	<p>
		<a href="https://www.x-workz.in"><img
			src="https://www.x-workz.in/static/media/Logo.cf195593dc1b3f921369.png"
			alt="X-Workz Logo" width="100"></a>
	</p>

	<p>080-48669257/9845958884</p>
	<p>RAJAJINAGAR||BTM</p>
</body>
</html>
