<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
}

strong {
	font-weight: bold;
}

u {
	text-decoration: underline; 
}
</style>
<title>X-workz CSR Campus Drive </title>
</head>
<body>
	

	<p>
		Hi <span th:text="${name}">,</span>
	</p>

	<p>Thanks for Showing Interest with X-workZ CSR Campus Drive -2024,
		Please find below details to attend the interview process :</p>

	<ul>
		<li><strong>Your Unique ID:</strong> <span th:text="${uniqueID}">,</span></li>
		<li><strong>Name:</strong><span th:text="${name}">,</span></li>
		</li>
		<li><strong>USN:</strong> <span th:text="${usnNumber}">,</span></li>
		</li>
		<li><strong>College Name:</strong> <span th:text="${collegeName}">,</span></li>
		</li>
	</ul>

	<p>
		<u><strong>Selection Process:</strong></u>
	<p>
		<strong>(Go through company Website, Social Media and Reviews
			since Most of the questions will be asked about the Organization)</strong>
	</p>
	</p>

	<ol>
		<li>Online Test:
			<ul>
				<li>40 General Questions</li>
				<li>2 Programming Questions</li>
			</ul>
		</li>
		<li>Group Discussion on General Topics to check the confidence
			and attitude of the candidate.(No Rejection basis of grammar
			mistakes)</li>
		<li>Final Shortlisted candidates will be having one Face 2 Face
			discussion.</li>
	</ol>

	<p>
		<strong>Benefits of CSR Programming:</strong>
	</p>

	<ol>
		<li>Candidates who get shortlisted will be offered free training
			and technologies will Core Java, SQL and Web Technologies.</li>
		<li>Candidates will be associated with our Assessment partner
			Redrob which also helps in placement activities.</li>
		<li>Candidates can attend Generic Requirements from the Day 1.</li>
		<li>Candidates can easily find the path in an IT industry with
			their interest because of training and career guidance.</li>
		<li>Candidates will be trained by Industry Experts with Loads of
			Mock and Test during the training period.</li>
		<li>Certificate will be provided by the end of the course.</li>
		<li>Based on Candidates performance during 5 Months might be
			offered with full time course of 5 Months at Free cost.</li>
		<li>Placement Guidance and Off campus drives opportunities will
			be provided during the free course.</li>
	</ol>

	<p>
		For any queries, feel free to contact us at <a href="tel:9886971480">9886971480</a>/<a
			href="tel:9886971483">9886971483</a> or email us at <a
			href="mailto:contact@x-workz.in">contact@x-workz.in</a>.
	</p>

	<p>
		<strong>Thanks and Regards, </strong> <br> Akshara P<br>
		Senior Business Developer<br> X-workZ CSR Team <br> <img
			src="https://raw.githubusercontent.com/xworkzodc/newsfeed/master/logo.jpg"
			width="25%" /> <br> http://www.x-workz.in <br>Rajajinagar||
		BTM
	</p>
	    

</body>
</html>
