<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Fees Reminder</title>
</head>
<body>
	<p>
		Dear candidate <span th:text="${candidateName}"></span>,
	</p>

	<p>
		As discussed, last date to pay your First Instalment is <span
			th:text="${date}"></span>. <strong>X-workZ</strong> is happy to train
		you technically. We would like to continue to offer services, which
		are affordable learning. From our system we have found you pursuing <strong>course
			with us</strong>..
	</p>

	<div>
		<strong>This is a <span style="background-color: yellow;">reminder
				for the payment</span> that should be completed.
		</strong>
	</div>



	<div>
		Please reply with the <strong>transaction ref</strong>. no if payment
		made.
	</div>

	<div>We accept online payment only, and find the details below
		for same.</div>
	<div>
		<strong>IMPS/NEFT</strong>
	</div>

	<div>Name: X-WORKZ</div>
	<div>Account No: 0418102000019752</div>
	<div>
		IFSC: IBKL0000418<br> OR <br>UPI : 9986667354@upi
	</div>

	<div>
		<span style="background-color: yellow;">Note: Ignore if the
			payment has been completed</span>.
	</div>
	<div>Feel free to reach us for any clarifications.</div>

	<div>
		<strong>Thanks and Regards, </strong> <br>
		<p>Mamatha S Senior Business Developer</p>
		<br>
		<p>M.No:9886971480</p>
		<br> <img
			src="https://raw.githubusercontent.com/xworkzodc/newsfeed/master/logo.jpg"
			width="25%" /> <br> http://www.x-workz.in <br>Rajajinagar||
		BTM
	</div>
</body>
</html>